.intro-container {
    min-height: 400px;
}

.services-container {
    background-color: rgb(11, 12, 16);
    margin-left: auto;
    margin-right: auto;
    min-height: 1200px;
}

.intro-card {
    background-color: transparent;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.works-container {
    background-color: rgb(18, 18, 18);
    min-height: 700px;
}

.client-container {
    min-height: 800px;
}

.main_box {
    width: auto;
    height: 70vh;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 50px;
}

.carosel-img {
    flex: 1;
    height: 70%;
    cursor: pointer;
    margin: 0 0.125em;
    transition: all .3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carosel-p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .75em;
    background-color: rgba(0, 0, 0, 0.6);
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.3s;
    text-transform: uppercase;
    white-space: nowrap;
}

.img1 {
    background-image: url(../images/infini.png);
}

.img2 {
    background-image: url(../images/hb.png);
}

.img3 {
    background-image: url(../images/playz.jpg);
}

.img4 {
    background-image: url(../images/away.jpg);
}

.img5 {
    background-image: url(../images/lms.jpg);
}

.main_box:hover .carosel-img {
    transform: skew(0);
}

.carosel-img:hover {
    flex: 5;
}

.carosel-img:hover p {
    background-color: transparent;
    border: .125em solid blue;
    color: rgb(255, 38, 0);
    transform: rotate(0deg);
}

.company-cards {
    background-color: rgb(11, 12, 16);
    border: 0px;
}

.product-card {
    border: 1px solid rgb(54, 54, 54);
}

.row-top {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.stars {
    margin-top: 20px;
    text-align: center;
}

.checked {
    color: orange;
}