.social-button {
    border: rgb(144, 249, 240) solid 2px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-left: 30px;
}

.social-button-2 {
    border: rgb(144, 249, 240) solid 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    margin-top: 8px;
    margin-left: 8px;
}

.social-icon-2 {
    width: 25px;
    height: 25px;
    text-align: center;
    display: block;
    margin-top: 6px;
    margin-left: 6px;
}

.social-card-2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    padding-top: 50px;
    margin-top: 20px;
}

.social-card {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    padding-top: 50px;
    margin-top: 200px;
}

.card {
    background-color: transparent;
}

.social-list {
    background-image: url(../images/artbook.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.idea-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}

.contact-button {
    width: 200px;
    height: 65px;
    text-align: center;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}